input:invalid {
    border: 2px dashed red;
  }
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  header {
    position: fixed;
    width:100%;
    background-color: white;
  }